{% extends "layout.html" %}
{% block content %}
		<section class="jobs">
		<div class="container">
			<div class="row heading">
				<h2>Find jobs where you will get to blend <strong>chemistry</strong> expertise with <strong>programming</strong>,
					<strong>data science</strong>, and <strong>machine learning</strong></h2>
			</div>
			<div class="companies">
					{% for post in posts %}
						<div class="company-list">
						<div class="row">
							<!-- <div class="col-md-2 col-sm-2">
								<div class="company-logo">
									<img src="static/img/google.png" class="img-responsive" alt="" />
								</div>
							</div> -->
							<a href="{{ url_for('posts.view_job', post_id=post.id) }}">
							<div class="col-md-10 col-sm-8">
								<div class="company-content">
									<h3>{{ post.title }}</h3>
									<p><span class="company-name"><i class="fa fa-briefcase"></i>{{ post.org_name }}</span><span class="company-location"><i class="fa fa-map-marker"></i>{{ post.job_location }}</span><span class="package"><i class="fa fa-calendar"></i>{{'Posted: '}}{{ post.days_since_post }}</span></p>
								</div>
							</div></a>
						</div>
						</div>
										<!-- <a class="mr-2" href="{{ url_for('posts.view_job', post_id=post.id) }}">{{ 'Posted: ', post.days_since_post, post.date_str, post.title, post.org_name, post.job_location }}</a></br> -->
					{% endfor %}
			</div>
		</div>
{% endblock content %}
