    {% extends "layout.html" %}
    {% block content %}
    <section class="profile-detail">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="basic-information">
                            <!-- <div class="col-md-3 col-sm-3"> -->
                            <!-- <img src="img/microsoft.png" alt="" class="img-responsive">
                            </div> -->
                            <div class="col-md-12 col-sm-9">
                                <div class="profile-content">
                                    <h2>Hire qualified chemists who know machine learning, data science, and programming</h2>
                                </br>
                                    <h4>Focused on chemistry jobs that require data science, machine learning, and programming</h4>
                                    <p>Other sites are too general and drown out your chemistry specific posting, which makes it harder for qualified candidates to find your open position. Is that worth the >$400 USD they charge?</p>
                                    <p>Speak directly to the exact candidates you are looking for; those who know how to apply software development, machine learning, and data science to chemistry problems.</p>
                                    <h4>Posting is fast and easy, applying is fast and easy</h4>
                                    <p>One form, one payment to post your job. Candidates don't need to register here to apply to your jobs -- they are only one simple click away from sending in their application to you.</p>
                                    <p>Don't lose out on great candidates because a job board site puts up extra hurdles for them to apply to your job.</p>
                                    <h4>What you receive</h4>
                                    <p>Your job advertisement will be posted on our home page for 30 days, and we will share your job on Twitter. The cost is only ${{ charge_amount_usd }} USD.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <section class="login-wrapper">
        <div class="container">
            <div>
                <form method="POST" action="">
                    <!-- hidden_tag() adds a csf token to protect from certain attacks -->
                    {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.title.label(class="form-group-label") }}
                            {% if form.title.errors %}
                                {{ form.title(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.poster_email.label(class="form-group-label") }}
                            {% if form.poster_email.errors %}
                                {{ form.poster_email(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.poster_email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.poster_email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.body.label(class="form-group-label") }}
                            {% if form.body.errors %}
                                {{ form.body(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.body(class="form-group col-md-12 col-sm-8", rows="10", cols="120") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.apply_here_email.label(class="form-group-label") }}
                            {% if form.apply_here_email.errors %}
                                {{ form.apply_here_email(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.apply_here_email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.apply_here_email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.link_to_application_site.label(class="form-group-label") }}
                            {% if form.link_to_application_site.errors %}
                                {{ form.link_to_application_site(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.link_to_application_site.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.link_to_application_site(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.job_location.label(class="form-group-label") }}
                            {% if form.job_location.errors %}
                                {{ form.job_location(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.job_location.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.job_location(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.org_name.label(class="form-group-label") }}
                            {% if form.org_name.errors %}
                                {{ form.org_name(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.org_name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.org_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
			    <p><a href={{ url_for('main.tos') }}>Terms of Service</a></p>
			    <p><a href={{ url_for('main.privacy') }}>Privacy Policy</a></p>
                            {{ form.accept.label(class="form-group-label") }}
                            {% if form.accept.errors %}
                                {{ form.accept(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.accept.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.accept(class="form-control") }}
                            {% endif %}
                        </div>
                        <p>* required fields</p>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
    </div>
    </div>
    </section>
    </section>
{% endblock content %}
