    {% extends "layout.html" %}
    {% block content %}
	<section class="inner-banner" style="backend:#242c36 url(https://via.placeholder.com/1920x600)no-repeat;">
		<div class="container">
			<div class="caption">
                <h1 style="color: #ffffff">Post a job</h1>
                </br>
                <p>Find candidates with expertise in chemistry, programming, datascience, and machine learning</p>
                </br>
                <p>Avoid the noise of general, unspecific job boards and speak directly to your target candidates</p>
                </br>
                <p>${{ charge_amount_usd }} USD to display your job advertisement on the home page for 30 days</p>
            </div>
		</div>
    </section>
    <section class="login-wrapper">
        <div class="container">
			<div class="col-md-12 col-sm-8">
                <form method="POST" action="">
                    <!-- hidden_tag() adds a csf token to protect from certain attacks -->
                    {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.title.label(class="form-group-label") }}
                            {% if form.title.errors %}
                                {{ form.title(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.title(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.poster_email.label(class="form-group-label") }}
                            {% if form.poster_email.errors %}
                                {{ form.poster_email(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.poster_email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.poster_email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.body.label(class="form-group-label") }}
                            {% if form.body.errors %}
                                {{ form.body(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.body.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.body(class="form-group", rows="10", cols="120") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.apply_here_email.label(class="form-group-label") }}
                            {% if form.apply_here_email.errors %}
                                {{ form.apply_here_email(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.apply_here_email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.apply_here_email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.link_to_application_site.label(class="form-group-label") }}
                            {% if form.link_to_application_site.errors %}
                                {{ form.link_to_application_site(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.link_to_application_site.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.link_to_application_site(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.job_location.label(class="form-group-label") }}
                            {% if form.job_location.errors %}
                                {{ form.job_location(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.job_location.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.job_location(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.org_name.label(class="form-group-label") }}
                            {% if form.org_name.errors %}
                                {{ form.org_name(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.org_name.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.org_name(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.accept.label(class="form-group-label") }}
                            {% if form.accept.errors %}
                                {{ form.accept(class="form-group form-group-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.accept.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.accept(class="form-control") }}
                            {% endif %}
                        </div>
                        <p>* required fields</p>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
    </div>
    </div>
    </section>
{% endblock content %}
